body {
    background-color: gainsboro; }
   #profile {
    text-align: center;
   }
   h1 {
    text-align: center;
   }
   time {
    background-color: darksalmon;
   }
   #College {
    text-align: center;
   }
   
  