* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(145, 45, 83);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 800px;
  height: 600px;
  border: 3px solid cadetblue;
  position: relative;
}
.box {
  background-color: burlywood;
  width: 100px;
  height: 100px;
  float: left;
  position: absolute;
}
.one {
    top: 6rem;
    left: 8.5rem

}
.two {
    top: 6rem;
    left: 35rem;
    

}
.three {
    top: 25rem;
    left: 8.5rem;
    
    
}
.four {
    top: 25rem;
    left: 35rem;
}