* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: linear-gradient(-40deg, white, #242);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

#container {
  background: linear-gradient(-200deg, grey, white);
  width: 300px;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.image {
  width: 70%;
  height: 40%;
  border-radius: 150px;
  position: relative;
  bottom: 100px;
  left: 45px;
  border: 5px solid grey;
}

.text {
  text-align: center;
  position: relative;
  bottom: 90px;
  font-family: Arial, Helvetica, sans-serif;
  color: #232;
}

.h1 {
  font-size: 2rem;
}
 
.p {
  position: relative;
  top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.facepng {
  width: 30px;
  position: relative;
  left: 50px;
  bottom: 30px;
}

.twpng {
  width: 30px;
  position: relative;
  left: 100px;
  bottom: 30px;
}

.yt {
  width: 35px;
  position: relative;
  left: 150px;
  bottom: 30px;
}